.header {
    background-color: #b3debd;
}

.footer {
    background-color: #b3debd;
    text-align: center;
    padding: 20px;
}

.bus-nsw-logo {
    width: 100px;
    margin: 20px 0;
}

.bus-nsw-text {
    display: inline;
}

.table-data {
    width: 100%;
}